body{
  font-family: 'Open Sans', sans-serif;
  h1{
    font-family: 'Open Sans', sans-serif;
  }
  h2{
    font-family: 'Open Sans', sans-serif;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
  }
  h4{
    font-family: 'Open Sans', sans-serif;
  }
  h5{
    font-family: 'Open Sans', sans-serif;
  }
  h6{
    font-family: 'Open Sans', sans-serif;
  }
  p{
    font-family: 'Open Sans', sans-serif;
  }
  ul{
    font-family: 'Open Sans', sans-serif;
  }

}

h1{
  font-weight: 100;
}

h3{

}

p{

}

h2{
}
