.user-content{
  z-index:100;
  vertical-align: bottom;
  padding: 0 15px;
  .user-image{
    display: inline-block;
    margin-top: -40px;
    width:80px;
    img{
      width: 100%;
    }
  }
  .user-reviews{
    display:inline-block;
    padding: 10px 0;
    margin-left: 15px;
  }
}
