  <!-- user the @orders to display them in a nice way -->






<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <H1>Product Details</H1>
        <div class="social-box">
          <% @orders.each do |order| %>
          <h2><%= order.product.title %></h2>
          <%= image_tag order.product.picture_path %>
          <form action="">
          <%=link_to "delete order", order_path(order), method: :delete %>
          </form>
          <% end %>

          <%= link_to "to the product", orders_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-8">

      </div>
    </div>
  </div>
</div>




