@font-face { font-family: Delicious; src: url('JuliusSansOne-Regular.ttf'); }

h1, h2, h3{
  color: white;
  text-align: center;
  font-family: 'JuliusSansOne-Regular';
}

h1 {
  font-size: 80;
  font-weight: bold;
}

h2, h3 {
  font-size: 15;
}

body {
    background-color: black;
}

.row {
/* display: inline-block;*/
   text-align: center;
}

h3 {
   position: absolute;
   /* top: 200px;
   left: 0; */
   width: 100%;
}
